* {
  font-family: cursive;

}

body {
  background-color:lightgrey;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpGZY7UU_LX_fnNgyvSC4511mEimsjtTw7WQ&usqp=CAU");
}

h2,p,a {
    text-align: center;
}

.readme-wrapper{
  border:1px;
  text-align: center;
}

.readme-wrapper a:hover{
    color:green;
    cursor:grab;
  }

.boxes {
margin: auto;
padding: auto;
border:  1px solid  blue;
border-radius: 10px;
width:30em;

}

.boxes span {
  color:white;
}

#box1{
  display:inline-block;
  background-color: DodgerBlue;


}

#box2{
  display:inline-block;
  background-color:Violet;


}

#box3{
  display:inline-block;
  background-color:MediumSeaGreen;
}

#box4{
  display:inline-block;
  background-color:rgba(255, 99, 71, 0.5);
}

.img {
  height:50px;
  width:50px;
  background-image: url("https://wallpaperaccess.com/full/160807.jpg");
  padding-left: 430px;

}

.container h1 {
  color:DodgerBlue;
  text-align: center;
}

.new {
  color:DodgerBlue;
  font-weight:bold;
}
